# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Model files and checkpoints


# Ignore model weights, not source code
**/models/*.pt
**/models/*.bin
**/models/*.h5
**/models/*.onnx
**/models/*.ckpt



**/checkpoints/
*.bin
*.h5
*.pt
*.ckpt
*.onnx
*.tflite
*.pb

# Tokenizer and vocab files
tokenizer_config.json
vocab.txt
special_tokens_map.json

# Hugging Face / transformers cache
.cache/

# Outputs and temp files
output/
*.tmp
*.bak
